# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Virtual environment
venv/
ENV/
env/
venv.bak/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal
media
staticfiles
local_settings.py

# Flask
instance/
.webassets-cache

# Environment variables
.env
*.env

# VS Code
.vscode/
